@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    color: #023047;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    color: white;
    margin-left: 30px;
}

header {
    background-color: #480ca8;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffb703;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

div{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: auto;
}

div img{
    float: left;
    margin-right: 20px;
    width: 250px;
}


footer {
    background-color: #480ca8;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}



@media (max-width: 1024px) {
    .titulo {
        font-size: 2.0em;
    }

    .escola-apresentacao img {
        max-width: 100%; 
        height: auto;
    }
    
    }
    nav ul {
        flex-direction: row;
        align-items: center;
        gap: 0.2em;
        font-size: 1.1em;
    }



@media (max-width: 480px) {
    .titulo {
        font-size: 0.8em;
    }
    nav ul li a {
        font-size: 0.7em;
    }

    div img{
        width: 150px; 
    }
}
